################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Bot.Tests/bin/Debug
/Bot.Tests/obj/Debug
/HelloWorldBot/bin
/HelloWorldBot/obj/Debug
